server:
  port: 8090
  servlet:
    context-path: /api/v1

payment:
  server:
    url: http://localhost:8001
    prefix: /api/v1/server-admin

user:
  server:
    url: http://localhost:8000
    prefix: /api/v1/server-admin

#admin:
#  server:
#    prefix: /api/v1/server-admin
##    user: http://allback.site:8080/user-service
##    payment: http://allback.site:8080/payment-service
##    user: http://localhost:8080/user-service
##    payment: http://localhost:8080/payment-service


spring:
  application:
    name: admin-service

#eureka:
#  instance:
#    instance-id: ${spring.cloud.client.hostname}:${spring.application.instance_id:${random.value}}
#  client:
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka

springdoc:
  swagger-ui:
    config-url: /admin-service/api/v1/v3/api-docs/swagger-config
    url: /admin-service/api/v1/v3/api-docs
