.total {
  margin-left: 6%;
  margin-right: 18%;
  margin-top: 5%;
  width: 1200px;
}

.header {
  width: 1700px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 5%;
}

.descript {
  width: 1700px;
  text-align: center;
  margin-bottom: 8%;
  font-size: 1.3em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1700px;
}

.infinity {
  display: flex;
  flex-wrap: wrap;
  width: 1700px;
}

.card {
  background-color: #a33b39;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  width: 270px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.card_disable {
  background-color: #a33b39;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  width: 270px;
  border-radius: 10px;
  opacity: 0.2;
}

.poster_url {
  width: 220px;
  height: 300px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 2%;
}

.poster_url > img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.content_title {
  margin-top: 5%;
  margin-left: 5%;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.contents {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.contents > * {
  display: flex;
  margin-bottom: 1%;
}

.concert_title {
  font-size: 4em;
  margin-bottom: 30%;
  color: white;
}

.title {
  width: 250px;
  color: white;
}

.content {
  width: 430px;
  color: white;
}

.loading {
  text-align: center;
}

.loading_img {
  width: 100px;
  height: 100px;
}

.blank {
  width: 50px;
  height: 50px;
}

.observer_hidden {
  visibility: hidden;
  transition: all 0.3s;
}

.observer_visible {
  visibility: visible;
  transition: all 0.3s;
}
