.container {
  width: 100%;
}

.header {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.information {
  display: grid;
  width: 1000px;
  grid-template-columns: 10% 22% 13% 25% 15% 15%;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
}

.content {
  font-size: 1.4em;
}

.reserve_btn > button {
  width: 150px;
  height: 70px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #75a4ff;
  height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.reserve_btn > button:hover {
  background-color: #1b4aa7;
  transition: all 0.3s;
}

.main {
  background-color: #f0eeee;
  width: 100%;
  height: 790px;
}

.blank {
  height: 50px;
}

.stage_div {
  background-color: rgb(197, 195, 195);
  width: 700px;
  height: 100px;
  border-radius: 50%;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  line-height: 5;
  margin-left: 33%;
  margin-bottom: 3%;
}

.seat_total {
  text-align: center;
}

.seat_row {
  display: flex;
  justify-content: center;
}

.seat_row_name {
  font-weight: bold;
  font-size: 1.1em;
  width: 50px;
}

.seat {
  width: 20px;
  height: 20px;
  background-color: #bebec2;
  margin-left: 5px;
  border: none;
}

.seat:hover {
  background-color: #6161ff;
  border: none;
}

.seat_selected {
  width: 20px;
  height: 20px;
  background-color: #0000ff;
  margin-left: 5px;
  border: none;
}

.seat_disabled {
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  margin-left: 5px;
  border: none;
}
