.container {
  max-width: 1600px;
  height: 1080px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.container span {
  font-size: 1.7em;
}

.title {
  margin-bottom: 20px;
}

.reservation {
  width: 1550px;
  height: 500px;
}

.reservation_header {
  background-color: #d3d1d1;
  display: grid;
  grid-template-columns: 35% 15% 15% 15% 15%;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.reservation_body {
  background-color: #e9e7e7;
  display: grid;
  grid-template-columns: 35% 15% 15% 15% 15%;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  padding: 10px;
}
