.container {
  max-width: 1600px;
  height: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.container span {
  font-size: 1.7em;
}

.title {
  margin-bottom: 20px;
}

.calculation {
  width: 1550px;
  height: 450px;
}

.calculation_header {
  background-color: #d3d1d1;
  display: grid;
  grid-template-columns: 15% 10% 16% 10% 10% 13% 13% 13%;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
}

.bottom_div {
  display: flex;
}

.user {
  width: 600px;
  height: 500px;
  margin-right: 50px;
  overflow: hidden;
}

.user_header {
  background-color: #d3d1d1;
  display: grid;
  grid-template-columns: 30% 20% 30% 22%;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.user_body {
  background-color: #e9e7e7;
  display: grid;
  grid-template-columns: 30% 20% 30% 25%;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  padding: 10px;
}

.reservation {
  width: 900px;
  height: 500px;
  overflow: hidden;
}

.reservation_header {
  background-color: #d3d1d1;
  display: grid;
  grid-template-columns: 35% 15% 15% 15% 15%;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
}

.reservation_body {
  background-color: #e9e7e7;
  display: grid;
  grid-template-columns: 35% 15% 15% 15% 15%;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  padding: 10px;
}
