/* admin 헤더 css */
.header_admin {
  max-width: 1920px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  position: relative;
  background-color: rbga(255, 255, 255, 0);
  padding: 0 20px;
  box-shadow: 0px 1px 1px 1px #43434180;
}

.header_left_admin {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 50px;
}

.logo_name {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 10px;
}

.header_right_admin {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.nologin {
  cursor: pointer;
}

.login {
  cursor: pointer;
}

.mypage {
  cursor: pointer;
}

.admin {
  cursor: pointer;
}

.loading {
  cursor: pointer;
}

/*  user 헤더 css */
.header_user {
  max-width: 1920px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  position: relative;
  background-color: rbga(255, 255, 255, 0);
  padding: 0 20px;
  box-shadow: 0px 1px 1px 1px #43434180;
}

.header_left_user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header_right_user {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3em;
  font-weight: bold;
}

.user_mypage {
  cursor: pointer;
  color: #8888f3;
  transition: all 0.3s;
}

.user_mypage:hover {
  color: blue;
  transition: all 0.3s;
}

.user_logout {
  cursor: pointer;
}

.user_logout:hover {
  color: blue;
}
